@model SportStore.WebUI.Models.ProductsListViewModel

@using SportStore.WebUI.HtmlHelpers
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);

}

<div class="pager" style="float:right">
    @Html.PageLinks(Model.pagingInfo, x => Url.Action("List", new {Category = Model.CurrentCategory, Page = x }))
</div>
<h2>Have Fun</h2>

