@model SportStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h2>Your cart</h2>

@Html.Action("CartDetails", "Cart");
<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout")
</p>
