@model IEnumerable<string>
    <div>
        <ul class="list-group" text-align:center">
            <li class="list-group-item">@Html.ActionLink("Home", "List", "Product")</li>
            @foreach (var link in Model)
            {
                <li class="list-group-item">@Html.RouteLink(link, new { Controller = "Product", Action = "List", category = link, page = 1 })</li>               
            }
        </ul>
    </div>




